* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: darkgrey;
}

.gameboard {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  width: max-content;
  background-color: black;
  grid-gap: 1px;
}

.grid-buttons {
  background-color: darkgrey;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

#restart-btn {
  cursor: pointer;
  border: 1px solid;
  margin-bottom: 10px;
  background: none;
  font-size: 1rem;
}
